body{
  background-color: #ccc;
}

h1, h2 {
  color: red;
  font: 50px arial, sans-serif;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top:0;
  background-color: #4d4f51;
  padding-bottom: .1em;
  padding-top: .1em;
  border: 1px solid black;
}

h2 {
  font: 30px arial, sans-sarif;
  text-align: left;
  padding-left: .5em;
}

p, li, ul {
  font: 15px arial, sans-serif;
  padding: 1em;
  margin: 0;
}