body {
  background-color: white;
  font: 300 50px helvetica, sans-serif;
}

.page-header {
  font: 300 0.5em helvetica, sans-serif;
  margin-left: 30px;
  padding-left: 7px;
}

.menu {
  color: black;
  font: 300 50px helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  display: flex;
  justify-content: space-between;
}

.home-btn {
  color: black;
  border: none;
  font: 300 0.75em helvetica, sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-left: 30px;
  cursor: pointer;
  background-color: inherit;
}

.menu-btns {
  display: flex;
  margin-right: 30px;
}

.small-btn {
  font: 300 0.5em helvetica, sans-serif;
  border: none;
  background-color: inherit;
  color: black;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2vw;
}

.small-btn:hover,
.small-btn.hover,
.small-btn:focus,
.small-btn.focus,
.small-btn:active,
.small-btn.active,
.small-btn:visited,
.small-btn.visited {
  outline: none;
  box-shadow: none;
  color: #92cddc;
  text-shadow: 0 0 1.25px #92cddc, 0 0 1.25px #92cddc;
}

.home-btn:hover,
.home-btn.hover,
.home-btn:focus,
.home-btn.focus {
  outline: none;
  box-shadow: none;
  color: #92cddc;
  text-shadow: 0 0 1.25px #92cddc, 0 0 1.25px #92cddc;
}

.text-body {
  display: flex;
  flex-direction: column;
}
