body {
  background-color: white;
}

.menu {
  color: black;
  font: 300 50px helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  display: flex;
  justify-content: space-between;
}

.home-button {
  color: black;
  font: 300 1em helvetica, sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-left: 30px;
}

.home-body {
  display: flex;
  margin-left: 30px;
  margin-top: 100px;
}

.frame {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  display: block;
  background-image: url("imgs/Silhouette10.png");
  background-position-x: center;
  background-position-y: 0.25rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #92cddc;
}

.frame-second {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  display: block;
}

.secondImage {
  display: block;
  position: absolute;
  opacity: 0.7;
  top: 190px;
  margin-top: 0%;
  margin-left: 40px;
  height: 300px;
  width: auto;
}

.text-body {
  display: flex;
}

.p-header {
  font: 300 2em helvetica, sans-serif;
}

p {
  font: 300 1em helvetica, sans-serif;
  padding-top: 90px;
  padding-left: 60px;
  padding-right: 60px;
  line-height: 200%;
}

.menu-btns {
  display: flex;
  margin-right: 30px;
}

button {
  font: 300 0.5em helvetica, sans-serif;
  border: none;
  background-color: inherit;
  color: black;
  cursor: pointer;
  border-left: solid black 1px;
  padding-left: 10px;
  padding-right: 10px;
  height: 35px;
  margin-top: auto;
  margin-bottom: auto;
}

button:hover,
button.hover,
button:focus,
button.focus {
  outline: none;
  box-shadow: none;
  font: 400 0.5em helvetica, sans-serif;
  color: #92cddc;
  border-left: solid black 1px;
}
