body {
  background-color: white;
}

h1 {
  color: white;
  font: 50px helvetica, sans-serif;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  margin-top: 0;
  background-color: #92cddc;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
}

div {
  background: radial-gradient(white 60%, gray, gray);
  border: 1px solid #92cddc;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px 10px grey;
}

.firstImage {
  display: block;
  position: relative;
  opacity: 0.2;
  margin-top: 10%;
  margin-left: -14%;
  margin-right: auto;
}
.secondImage {
  display: block;
  position: absolute;
  opacity: 0.5;
  top: 210px;
  margin-top: 0%;
  margin-left: 130px;
  margin-right: 130px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 2px dotted white;
  width: auto;
}

.menu-btns {
  font: 20px helvetica, sans-serif;
  left: 0;
  bottom: 0;
}
