@import "common.css";

.home-body {
  display: flex;
  margin-left: 30px;
  margin-top: 100px;
}

.silhouette {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  display: block;
  background-image: url("imgs/Silhouette10.png");
  background-position-x: center;
  background-position-y: 0.25rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #92cddc;
}

.frame {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  display: block;
}

.text-body {
  display: flex;
  flex-direction: column;
}

.p-header {
  font: 300 0.5em helvetica, sans-serif;
  padding-left: 60px;
  padding-top: 60px;
}

p {
  font: 300 0.35em helvetica, sans-serif;
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 60px;
  line-height: 200%;
}
