@import "common.css";

.portfolio-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 80%;
}

.project {
  margin: 20px 20px 0 20px;
  background-color: #ccc;
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  cursor: pointer;
}

.project-1 {
  background-image: url("imgs/bottleneck-collage.png");
}
.project-2 {
  background-image: url("imgs/portable-dialysis.png");
}
.project-3 {
  background-image: url("imgs/glucose-meter.png");
}
.project-4 {
  background-image: url("imgs/vr-game.png");
}
.project-5 {
  background-image: url("imgs/hfe-website.png");
}
.project-6 {
  background-image: url("imgs/history-website.png");
}

.project-image {
  flex: 75%;
  min-height: 20px;
}

.project-title {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  flex: 25%;
  font: 300 0.4em helvetica, sans-serif;
  padding: 10px;
}

.project:hover,
.project.hover,
.project:focus,
.project.focus {
  outline: none;
  box-shadow: none;
  width: 194px;
  height: 194px;
  border: 3px solid #92cddc;
}

.project-title:hover,
.project-title.hover,
.project-title:focus,
.project-title.focus {
  flex: 100%;
}
