@import "common.css";

.project-page {
  display: flex;
  margin-left: 30px;
  margin-top: 71px;
}

.intro-img {
  width: 200px;
  height: 200px;
  margin-left: 30px;
  display: block;
}

.project-header {
  font: 300 0.5em helvetica, sans-serif;
  padding-left: 60px;
}

.project-body {
  font: 300 0.35em helvetica, sans-serif;
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 60px;
  line-height: 200%;
}

.img-caption {
  display: flex;
  flex-direction: column;
}

.showcase-img {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.mini-img {
  display: block;
  max-height: 90vh;
  width: 12.5vw;
}

iframe {
  width: 80vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: block;
}

.caption {
  font: 300 0.35em helvetica, sans-serif;
  padding-top: 10px;
  padding-left: 25vw;
  padding-right: 25vw;
  line-height: 200%;
  margin-left: auto;
  margin-right: auto;
}

.text-img {
  width: 50vw;
  margin: auto;
  display: block;
  position: relative;
}

.text-container {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  background-color: black;
  border: 1px solid black;
}
